<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		* {
			font-family: sans-serif;
			margin: 20px 20px auto;
		}
	</style>
</head>
<body> 
	
	{% extends 'inheritance.html' %}
	{% block content %}	
	<h2>edit movies</h2>
	<a href="{% url 'create' %}">Create</a>
	<a href="{% url 'list' %}">List</a>
	<form  method="post">
		{% csrf_token %}
		<!-- <input type="text" name="name" required>
		<label for="">name</label>

		<br>

		<input type="number" name="year" required>
		<label for="">Year</label>
		
		<br>
		<input type="text" name="sum" required>
		<label for="">Summary</label>
		
		<br>
		 -->
		{{ frm.as_p }}
		<input type="submit" value="submit" name="submit">
	</form>

	{% endblock content %}
</body>
</html>